.fav-page
    .popup
        .popup__wrap
            .popup__close
            .popup__title Як отримати бонус?
            ul.popup__list
                li.popup__list-item На наступний день після твого Дня Народження буде нарахований персональний бонус у розділ "Бонуси".
                li.popup__list-item Після натискання кнопки "Прийняти" тобі буде доступний бонус у вигляді 50 FS у грі “Sam's play” від провайдера Pateplay (вартість 1 FS = 3 ₴).
            a(href="/personal-office/bonuses/").popup__btn забрати бонус
    .main
        .main__banner
            .main__banner-wrap
                .main__banner-left
                    .main__banner-text-bonus Персональний бонус до дня народження
                    .main__banner-text-top
                        span вітаємо
                        span тебе
                    .main__banner-text-center з днем <br> народження
                        span.center-subtext ти досяг <br> нового рівня
                    .main__banner-text-bottom Додаємо твоєму особливому дню яскравих емоцій.
                .main__banner-right
                    .main__banner-right-img
                        img(src="./img/banner-cake.png" alt="favbet.ua")
                    .main__banner-icons
                        .main__banner-icons-left
                            .cubes-icon
                            .cherry-icon
                            .cards-icon
                        .main__banner-icons-right
                            .sport-icon
                            .game-icon
                            .fav-icon
                            .loading-icon
            .main__banner-bottom
                .main__banner-bottom-item Будь всередині гри з FAVBET
                .main__banner-bottom-item Персональний бонус до дня народження
                .main__banner-bottom-item Гра розкриває тебе
        .main__game
            .main__game-machine
                .main__game-machine-text твій бонус чекає на тебе
                .main__game-playground
                    .game-body
                        .hook-wrap
                            .hook-fastering
                            .hook
                    .result
                        .FS FS #[span 0]#[span 0]
                    .start-text Тисни кнопку...
                    .coins
                        .coin.coin-box
                        .coin.coin-box
                        .coin.coin3
                        .coin.coin-box
                        .coin.coin-box
                    .gameOver
                        .gameOver__title Тобі буде нараховано
                        .gameOver__prize FS 50
                        .gameOver__txt у грі “Sam's play” від <br> провайдера Pateplay, <br> які можеш використати <br> протягом 3х днів.
                        .gameOver__info Як отримати бонус?
                .main__game-machine-btn старт
    .details
        ul.details__list
            li.details__list-item Персональна бонусна пропозиція доступна в межах #[span Програми лояльності]
            li.details__list-item Розмір, вид та формат бонусної пропозиції визначається та пропонується гравцям виключно на розсуд Організатора. З детальними умовами персональної бонусної пропозиції можна ознайомитись в особистому кабінеті у розділі "Бонуси".
    .rules
        details.drop
            summary.drop__btn
                span Деталі
            ol.drop__list.drop__list-title Умови отримання персональної бонусної пропозиції у вигляді 50 фріспінів у грі “Sam's play” від провайдера Pateplay:<br><br> Щоб отримати бонус, необхідно:<br><br>
                li.drop__list-item протягом 3 (трьох) днів з моменту отримання повідомлення про можливість отримання бонусу здійснити депозит, поповнивши ігровий рахунок від 150 ₴ (поповнення активує персональний бонус: «50 FS у грі "Sam's play”).
                li.drop__list-item як тільки бонус буде доступний — натиснути кнопку «Прийняти» та прийняти бонус у вигляді 50 FS у грі "Sam's play" від провайдера Pateplay. Вартість одного фріспіна – 3 ₴. Бонус нараховується без відіграшу.
                li.drop__list-item для отримання персональної бонусної пропозиції Гравець має бути зареєстрованим не менше ніж 14 днів та зробити мінімум 3 депозити з моменту реєстрації.

